<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css')}}>
</head>
<body class="order_body">
    <h1>{{ title }}</h1>
    <h3>
    <ul class="order_list">{% for order in order_list %}
        <li><b>{{ order.customer_name}}</b> ordered {{ order.quantity }} {{ order.item }}</li>
        <li>Customer requirements: {{ order.preference}}</li>
        <li>Date: {{ order.order_date }}</li>
    {% endfor %}</ul>
    </h3>
</body>
</html>